$color-primario: #7d0300;
$color-secundario: #b21c1d;
$color-terciario: #f1bd2d;
$min-width-small: 768px;
$min-width-grande: 1196px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: $color-primario;
}

header {
  height: 82px;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  .header-logo {
    width: 25%;
    height: 75%;
    max-width: 250px;
    display: flex;
    align-items: center;
    img {
      width: 100%;
    }
  }
  .header-botones-links {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    .header-links {
      display: flex;
      list-style-type: none;
      display: flex;
      gap: 15px;
      li {
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          padding: 5px 5px;
          &:hover {
            border-bottom: 1px solid $color-secundario;
          }
        }
      }
    }
    .header-botones {
      a {
        text-decoration: none;
      }
      .boton-carrito {
        transition: 0.1s ease;
        i {
          color: $color-primario;
        }
        &:hover {
          i {
            color: white;
          }
        }
      }
    }
  }
  @media screen and (max-width: $min-width-small) {
    padding: 10px 8px;
    .header-logo {
      display: none;
    }
    .header-botones-links {
      width: 100%;
      .header-botones button {
        padding: 8px 10px;
      }
    }
  }
}

.hero {
  /* ES LA IMAGEN DE FONDO GRANDE EN EL HERO
    EN src PUEDEN PONER LA URL, O DESCARGAR LA FOTO
    Y GUARDARLA EN LA MISMA CARPETA Y APUNTAR AHÍ */
  // pero no modificar este archivo. sobreescribanlo con su
  // css
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./fuente/hamburguesa_prueba.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .texto-hero {
    color: white;
    font-size: 40px;
    width: 70%;
    max-width: 700px;
    text-align: center;
    line-height: 48px;
  }
}

.fondo_oscuro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  display: none;
  z-index: 2;
}

.ventana-emergente {
  // ajustar tamaños a sus necesidades
  // sobreescribir en su propio css, no cambiar esto
  width: 75%;
  max-width: 750px;
  max-height: 75%;
  border-radius: 10px;
  background: white;
  padding: 20px;
  position: fixed;
  display: none;
  // cambiar despues con js display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.titulo-1 {
  color: $color-primario;
  font-size: 40px;
}

.titulo-2 {
  color: $color-primario;
  font-size: 33px;
}
.titulo-3 {
  color: $color-primario;
  font-size: 28px;
}
.titulo-4 {
  color: $color-primario;
  font-size: 23px;
}
.titulo-5 {
  color: $color-primario;
  font-size: 19px;
}
.texto-body {
  color: $color-primario;
  font-size: 16px;
}
.texto-chico {
  color: $color-primario;
  font-size: 13px;
}
.buscador-texto {
  background: #f1bc2c7e;
  width: 100%;
  min-width: 150px;
  max-width: 350px;
  color: $color-primario;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  &:focus {
    outline: 1px solid $color-primario;
  }
}
.tabla {
  display: flex;
  justify-content: center;
  border-collapse: collapse;
  border-spacing: 40px;
}

.tabla-titulo-columna {
  background-color: #b81a1a;
  color: white;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0px;
  border: 1px solid #000;
  padding: 10px;
}

.celda {
  background-color: white;
  text-align: center;
  border-collapse: separate;
  border: 1px solid #000;
  padding: 5px;
}

.combo-box {
  color: $color-secundario;
  border-width: thin;
  border-style: solid;
  border-color: $color-secundario;
  border-radius: 8px;
  padding: 10px 15px; /*medidas de la caja de formulario(hechas  a ojo según la HU20.1)*/
}

.form-texto {
  display: flex;
  flex-direction: column;
  gap: 3px;
  max-width: 250px;
  .texto-input {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid $color-secundario;
    color: $color-primario;
    &:focus {
      outline: none;
      border-bottom: 2px solid $color-secundario;
    }
  }
}

.boton-secundario {
  border-radius: 50px;
  padding: 16px 24px;
  font-weight: 700;
  transition: 0.1s ease-out;
  cursor: pointer;
  color: $color-secundario;
  background: white;
  border: 2px solid $color-secundario;
  &:hover {
    color: white;
    background: $color-secundario;
  }
}

.boton-primario {
  border-radius: 50px;
  padding: 16px 24px;
  font-weight: 700;
  transition: 0.1s ease-out;
  cursor: pointer;
  color: black;
  background: $color-terciario;
  border: 2px solid $color-terciario;
  &:hover {
    color: white;
    background: $color-primario;
    border: 2px solid $color-primario;
  }
}

footer {
  height: 132px;
  background: $color-primario;
  display: flex;
  justify-content: space-around;
  align-items: center;
  p {
    font-family: "Reenie Beanie", "Inter", "sans-serif";
  }
  .redes-sociales {
    text-align: center;
    p {
      color: white;
      font-size: 32px;
    }
    .iconos-redes {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      a {
        i {
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  .footer-marca {
    color: white;
    font-size: 48px;
  }
  @media screen and (max-width: $min-width-small) {
    .redes-sociales {
      p {
        font-size: 24px;
      }
      .iconos-redes a i {
        font-size: 16px;
      }
    }
    .footer-marca {
      color: white;
      font-size: 32px;
    }
  }
}
